@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit;
}

:root {
    --card-bg-color: hsl(0, 0%, 100%);
    --p-color: hsl(220, 15%, 55%);
    --main-bg: hsl(212, 45%, 89%);
    --project-font-size: 15px;
    --heading-font-weight: 700;
    --p-font-weight: 400;
}

main {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 20px;
    max-width: 320px;
    padding: 1em;
    text-align: center;
}

h1 {
    font-weight: var(--heading-font-weight);
    font-size: 15px;
    margin: 5px 5px 0 5px;
}

img {
    border-radius: 10px;
    width: 100%;
}
p {
    font-size: var(--project-font-size);
    font-weight: var(--p-font-weight);
    color: var(--p-color);
    margin: 5px;
}
